
body
{
	font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
}

.pageContent
{
	width: 1224px;
/*	background-color: red;*/
	margin-left: auto;
	margin-right: auto;
}







/*Formating Footer Header*/
.footerHeader
{
	background-color: green;
	color: white;
	height: 50px;
	text-align: center;
}

.footerHeader>h1
{
	margin: auto;
	font-size: 35pt;
}



/*Formating Header Menu*/
.h2HeaderMenu
{
	background-color: #98FB98;
	text-align: center;
	width: 310px;
	border-style: solid;
	position: relative;
	bottom: 20px;	
}

.sectionHeaderMenu
{
	background-color: grey;
	width: 315px;
	position: relative;
	bottom: 40px;
}

.menuItem
{
	background-color: white;
	width: 200px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	height: 20px;
	font-size: 20px;

}

.inputHeader
{
	margin-bottom: 2px;
	width: 90px;
	height: 15px;
}

.selectHeader
{
	margin-bottom: 2px;
	height: 21px;
	width: 97px;
}

/*Formating Main Menu*/
.sectionMainMenu
{
/*	background-color: blue;*/
	width: 975px;
	height: 500px;
	position: relative;
	bottom: 393px;
	left: 315px;
}

.divActions
{
/*	background-color: yellow;*/
	width: 450px;
	height: 500px;
	border-style: solid;
	position: relative;
	bottom: 23px;
	left: 0px;
	overflow: hidden;
}

.h2Actions
{
	background-color: #98FB98;
	text-align: center;
	width: 450px;
	border-style: solid;
}

.divExpectedResults
{
/*	background-color: orange;*/
	width: 450px;
	height: 500px;
	position: relative;
	bottom: 602px;
	left: 454px;
	border-style: solid;
	overflow: hidden;
}

.h2ExpectedResults
{
	background-color: #98FB98;
	text-align: center;
	width: 450px;
	position: relative;
	bottom: 580px;
	left: 454px;
	border-style: solid;
}



/*Formating Control Menu*/
.h2ControlMenu
{
	background-color: #98FB98;
	text-align: center;
	width: 310px;
	border-style: solid;
	position: relative;
	bottom: 580px;	
}

.sectionControlMenu
{
	background-color: grey;
	width: 312px;
	height: 193px;
	position: relative;
	bottom: 605px;
	border-style: solid;
}

.sectionControlMenu>input
{
	width: 90px;
	height: 20px;
	text-align: center;
	border-radius: 5px;
}

.sectionControlMenu>select
{
	width: 90px;
	height: 20px;
	text-align: center;
	border-radius: 5px;
}




/*Formating PreView*/
.sectionPreView
{
	background-color: white;
	width: 902px;
	/*
	height: 500px;
	border: solid;
	*/
	
	position: relative;
	bottom: 608px;
	left: 317px;
}

